
@{
    ViewBag.Title = "TwitterChannel";
}
<script src="~/Scripts/CustomScripts/tweets.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<h1 class="channelName">@Model.Name <span id="refresh" srcName="@Model.Src_Name" class="glyphicon glyphicon-refresh refreshIcon"></span></h1>
@if (Model != null)
{
    foreach (var tweet in Model.Tweets)
    {
        <ol id="listTweets" class="olTweets">
            <li class="blockquote twitter-tweet">
                <img src="@tweet.Src_Image" class="img-rounded" alt="hello World" title="Hello World" />
                <p class="blockquote twitter-tweet">@tweet.Text </p>
                @if (tweet.Image != "false")
                {
                    <img src="@tweet.Image" alt="hello World" title="Hello World" class="img-thumbnail myImage" />
                }
                <hr />
            </li>
        </ol>
    }
}
